.content-header
  .container-fluid
    .row
      .col-12
        %h1.text-dark Products#index
    .row
.content
  .container-fluid
    .card
      .card-header
        %h3 Edit
      .card-body
        = form_with model: @product, url: "#", id: "product-form" do |f|
          .form-group
            .row
              .col-6
                = f.label :name
              .col-6.text-right
                %span{ "v-bind:class": "(#{Product::MAX_NAME_LENGTH} >= product_name.length) ? 'text-muted' : 'text-danger'" }
                  残り{{#{Product::MAX_NAME_LENGTH} - product_name.length}}文字
            = f.text_field :name, size: Product::MAX_NAME_LENGTH, class: "form-control", id: "product-name", "v-model": "product_name"

          .form-group
            .row
              .col-6
                = f.label :tagline
              .col-6.text-right
                %span{ "v-bind:class": "(#{Product::MAX_TAGLINE_LENGTH} >= product_tagline.length) ? 'text-muted' : 'text-danger'" }
                  残り{{#{Product::MAX_TAGLINE_LENGTH} - product_tagline.length}}文字
            = f.text_field :tagline, size: Product::MAX_TAGLINE_LENGTH, class: "form-control", id: "product-taglne", "v-model": "product_tagline"

          .form-group
            .row
              .col-6
                = f.label :description
              .col-6.text-right
                %span{ "v-bind:class": "(#{Product::MAX_DESCRIPTION_LENGTH} >= product_description.length) ? 'text-muted' : 'text-danger'" }
                  残り{{#{Product::MAX_DESCRIPTION_LENGTH} - product_description.length}}文字
            = f.text_area :description, size: Product::MAX_DESCRIPTION_LENGTH, class: "form-control", id: "product-description", "v-model": "product_description"

:javascript
  var app = new Vue(
    {
      el: "#product-form",
      data: {
        product_name: "#{@product.name}",
        product_tagline: "#{@product.tagline}",
        product_description: "#{@product.description}",
      },
    }
  )
